/* タイトル・アニメーション */

#title strong {
    display: block;
    animation: .5s infinite alternate play;
    -webkit-animation: .5s infinite alternate play;
    pointer-events: none;
    user-select: none;
}

@media (orientation: landscape) {
    @keyframes play {
        from {
            transform: scale(1, 5);
            letter-spacing: 1.25rem;
        }

        to {
            transform: scale(0.75, 5);
            letter-spacing: 0.25rem;
        }
    }

    @-webkit-keyframes play {
        from {
            transform: scale(1, 5);
            letter-spacing: 1.25rem;
        }

        to {
            transform: scale(0.75, 5);
            letter-spacing: 0.25rem;
        }
    }
}

@media (orientation: portrait) {
    @keyframes play {
        from {
            transform: scale(1, 5);
            letter-spacing: 2vw;
        }

        to {
            transform: scale(0.75, 5);
            letter-spacing: -0.5vw;
        }
    }

    @-webkit-keyframes play {
        from {
            transform: scale(1, 5);
            letter-spacing: 2.5vw;
        }

        to {
            transform: scale(0.75, 5);
            letter-spacing: -0.5vw;
        }
    }
}