.mapboxgl-marker {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}

.mapboxgl-marker.draft,
.mapboxgl-marker.submit {
    background: lemonchiffon;
    border: lightskyblue solid 0.15rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
}

.mapboxgl-marker.bicycle {
    background-image: url(../img/bicycle.png);
    width: 3.33rem;
    height: 3.33rem;
}

.mapboxgl-marker.hello {
    background-image: url(../img/hello.jpg);
    border-radius: 50%;
    width: 2.22rem;
    height: 2.22rem;
}

.mapboxgl-marker.yu {
    background-image: url(../img/1010.png);
    width: 2.5rem;
    height: 2.5rem;
}

.mapboxgl-marker.onsen {
    background-image: url(../img/onsen.png);
    width: 2.22rem;
    height: 2.22rem;
}