dialog #title,
dialog #link {
    font-family: 'Kristina', 'KikaiChokoku', sans-serif;
}

dialog #description,
dialog p {
    font-family: 'KikaiChokoku', 'Arial Narrow', sans-serif;
}

dialog input[type="button"],
dialog #link {
    color: lemonchiffon;
    text-shadow: 0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
}

dialog #description {
    background: lemonchiffon;
    color: lightskyblue;
    text-decoration: none;
}

dialog #title,
dialog input[type="button"]:hover {
    color: lightskyblue;
}

dialog {
    border: solid skyblue 0.15rem;
    border-radius: 0.5rem;
}

dialog #link {
    font-size: 200%;
    font-weight: 900;
}

dialog #title {
    font-size: 111%;
}

dialog #link small {
    font-size: 75%;
}

dialog #description,
dialog p small {
    font-size: 65%;
}

dialog input[type="button"] {
    font-weight: 900;
}

dialog h2 {
    line-height: 75%;
}

dialog #title {
    line-height: 125%;
}

dialog input[type="button"]:hover {
    cursor: pointer;
}

dialog #title,
dialog #link,
dialog input[type="button"] {
    display: block;
}

dialog #link[hidden] {
    display: none;
}

dialog {
    padding: 0;
}

dialog #title,
dialog #description {
    padding: 0.25rem;
}

dialog #link {
    padding: 0.5rem;
}

dialog input[type="button"] {
    padding: 0 1rem;
}

dialog input[type="button"] {
    margin: 0;
}

dialog {
    width: calc(100% - 2.5rem);
    max-width: 750px;
}

dialog #player {
    clear: both;
    margin: 1rem 0.5rem 0;
    width: calc(100% - 1rem);
    height: 100%;
    aspect-ratio: 16 / 9;
}

dialog input[type="button"] {
    float: right;
}

@media (orientation: landscape) {
    dialog input[type="button"] {
        font-size: 500%;
    }
}

@media (orientation: portrait) {
    dialog input[type="button"] {
        font-size: 400%;
    }
}