.start #title::before {
    content: "▶ ";
}

.stop #title::before {
    content: "⏸ ";
}

#top h1 b#month::after {
    content: "月";
}

#top h1 b#day::after {
    content: "日";
}

#top h1 strong {
    font-family: 'DiaPro', 'KikaiChokoku', sans-serif;
}

#top h1 small {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#info,
select,
#weather {
    font-family: 'KikaiChokoku', 'Arial Narrow', sans-serif;
}

#top h1 b::after,
#lastModified code,
aside {
    font-family: 'ipag', 'Arial Narrow', sans-serif;
}

#top h1 b {
    font-family: 'Kristina', cursive;
    font-weight: 600;
}

#top h1 strong {
    font-weight: 555;
}

#year {
    text-align: right;
}

#weather p u {
    text-decoration: none;
}

header button,
#weather p u {
    background: lemonchiffon;
}

footer {
    background: skyblue;
}

@media (orientation: portrait) {
    article {
        background: lemonchiffon;
    }
}

header,
#top h1 b::after,
article h2,
#weather p u {
    color: lightskyblue;
}

#top h1 b,
article a[href],
footer {
    color: lemonchiffon;
}

#links p u,
#lastModified code,
#lastModified button {
    color: #fff;
}

#description {
    text-shadow:
        0.1rem 0.1rem 0.1rem lemonchiffon,
        0.2rem 0.2rem 0.2rem lemonchiffon,
        0.3rem 0.3rem 0.3rem lemonchiffon;
}

article a[href] {
    text-shadow:
        0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
}

#links p u,
#lastModified code {
    mix-blend-mode: difference;
}

#top h1 small {
    color: #fff;
    font-size: 65%;
    font-weight: 500;
}

body {
    background-color: #111;
}

#info p,
#map,
select {
    background: #fff;
    border-radius: 0.5rem;
}

#weather p u {
    border-radius: 0.25rem;
}

#top h1 strong,
#top h1 b,
#lastModified button {
    font-size: 222%;
}

#info b {
    font-size: 125%;
}

select {
    font-size: 100%;
}

#weather p u {
    font-size: 90%;
}

#top h1 b::after {
    font-size: 20%;
}

aside {
    line-height: 150%;
}

#title,
#top h1 strong,
#top h1 b {
    line-height: 100%;
}

#top h1 strong {
    padding: 0 0.75rem 2rem;
}

#top h1 b {
    padding: 0 0 0 0.75rem;
}

#info p,
#year,
select {
    padding: 0.75rem;
}

article #info {
    padding: 0.5rem;
}

#weather p u {
    padding: 0.25rem;
}

#weather p {
    margin: 0.5rem;
}

#info p,
aside p {
    margin: 0.5rem 0 0;
}

select,
#lastModified {
    margin-top: 1rem;
}

footer {
    margin-top: 0.5rem;
}

select {
    appearance: none;
    border: none;
    outline: none;
    word-break: break-all;
}

.stop #top h1,
#channel input,
#weather[hidden] {
    display: none;
}

#top h1 strong,
#top h1 small,
#links a,
#lastModified {
    display: block;
}

#top h1 b,
article,
#links p,
#lastModified,
footer {
    display: flex;
}

article,
footer {
    flex-wrap: wrap;
}

#links p {
    gap: 0.5rem;
    flex-flow: column;
}

#top h1 b {
    place-items: flex-start;
    min-width: 5.5rem;
}

#top h1 b::after {
    display: inline-block;
    padding: 0 0 2rem 1rem;
}

#top h1 strong,
#top h1 b {
    float: left;
}

#top h1 small,
#lastModified {
    float: right;
}

article {
    position: relative;
}

@media (orientation: landscape) {
    #top h1 strong {
        width: calc(100% - 5rem);
    }

    #top h1 small {
        width: 5rem;
    }

    #info {
        width: 60%;
    }

    article aside {
        width: 40%;
        padding: 1rem 0.5rem 0.5rem 1rem;
    }

    article {
        justify-content: space-between;
    }

    #lastModified {
        gap: 1rem;
        flex-flow: row;
    }
}

@media screen and (max-width: 1000px) {
    #top {
        font-size: 1.23vw;
    }

    #top h1 strong {
        width: 100%;
    }
}

@media (orientation: portrait) {
    header {
        font-size: 150%;
    }

    #top {
        font-size: 1.75vw;
    }

    #top h1 strong,
    article section,
    article aside {
        width: 100%;
    }

    #top h1 small {
        width: 5rem;
    }

    article {
        flex-wrap: wrap;
    }

    article aside {
        padding: 0.75rem;
    }

    article {
        place-content: end;
    }

    #lastModified {
        flex-flow: column-reverse;
        place-items: end;
    }
}

#top h1 {
    position: relative;
    z-index: 2;
}

#channel label {
    border: solid transparent 0.1rem;
    background: #111;
    border-radius: 0.5rem;
    height: 6.5rem;
    box-sizing: border-box;
}

#channel input:checked+label {
    border: solid #fff 0.125rem;
}


footer,
#channel {
    justify-content: space-between;
}

#channel {
    overflow: auto;
}

#weather img {
    width: 5rem;
}

#channel video {
    border-radius: 0.4rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

select,
footer {
    width: 100%;
}

hr {
    border: none;
}