html {
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body,
h1,
header h2 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Kristina";
    src: url("../date/css/fonts/Kristina-Bold.otf") format("opentype"),
        url("../date/css/fonts/Kristina-Fine.otf") format("opentype");
}

@font-face {
    font-family: "KikaiChokoku";
    src: url("../date/css/fonts/KikaiChokokuJIS-CnKn.otf") format("opentype"),
        url("../date/css/fonts/KikaiChokokuJIS-Md.otf") format("opentype"),
        url("../date/css/fonts/KikaiChokokuJIS-XCnKn.otf") format("opentype");
}

header,
article {
    font-family: "Kristina", "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}

header h1,
header h1 strong {
    font-size: 250%;
}

header h2 strong,
article h3,
article b {
    font-size: 150%;
}

select,
article strong,
article a {
    font-size: 125%;
}

#year,
header h2,
#contrib::before {
    font-size: 111%;
}

article u {
    font-size: 90%;
}

article small {
    font-size: 75%;
}

header h1,
header h1 strong {
    font-weight: 777;
}

article h3,
article b {
    font-weight: 500;
}

article b {
    line-height: 150%;
}

article h3 {
    text-align: center;
}

article address {
    font-style: normal;
}

article u {
    padding: 0.25rem;
    text-decoration: none;
}

h1,
h2 {
    pointer-events: none;
    user-select: none;
}

body {
    background: lemonchiffon;
}

header h1 strong,
article a {
    color: lightskyblue;
}

header h2 strong {
    color: lemonchiffon;
}

#year,
header h2 strong::after {
    color: #fff;
}

select {
    color: #000;
    font-family: inherit;
    padding: 0.25rem 0;
}

article u,
article h3 strong {
    background: lightskyblue;
    color: lemonchiffon;
}

header h1 strong {
    display: block;
    padding: 0;
    transform: scale(1, 2.5);
    line-height: 125%;
}

header h2 strong::after {
    font-size: 55%;
    padding: 0 1rem;
}

header h2 strong#month::after {
    content: "月";
}

header h2 strong#day::after {
    content: "日";
}

header button {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    max-width: 95%;
}

main,
header {
    display: grid;
    place-items: center;
}

main {
    position: relative;
    width: 100%;
}

main:hover {
    cursor: pointer;
}

header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

main video {
    width: 100%;
    transition: all 1s;
}

.start main:hover video {
    filter: brightness(1.23);
}

#player,
#vr {
    border: none;
    width: 100%;
    max-height: 95vh;
}

body.stop h1,
body.stop h2,
body.stop #year,
main fieldset input {
    display: none;
}

.mapboxgl-popup {
    z-index: 100;
}

@media (orientation: landscape) {
    html {
        font-size: 20px;
    }

    header {
        padding: 2.5rem;
    }

    main video {
        max-width: 750px;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 3.21vw;
    }

    header {
        padding: 5vw;
    }
}

header,
main {
    top: 0;
    left: 0;
    right: 0;
}

footer hr {
    border: none;
    clear: both;
    margin: 2.5rem;
}

#year {
    place-self: start right;
    margin-bottom: 1rem;
}

header h1 {
    place-self: end center;
}

#play {
    place-self: end center;
}

main fieldset {
    display: flex;
    justify-content: space-between;
}

header button {
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 2.5rem;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 1rem 0.25rem;
    outline: none;
}

article,
article address,
article section,
article div {
    padding: 0.5rem;
}

footer {
    padding: 0.5rem;
}

article a {
    padding: 0.25rem 0;
}

article h3 strong,
footer select,
#links a {
    padding: 0.25rem;
    margin: 0.25rem;
}

article h3,
article section,
article div,
article address {
    line-height: 175%;
    margin: 2rem auto;
    max-width: 1000px;
}

#contrib::before {
    content: "Video by";
    clear: both;
    display: block;
    margin: 1.5rem 0.5rem 0;
}

article a {
    text-decoration: dashed underline;
}

article div a {
    display: block;
}

article div h3 {
    border-top: double 0.25rem lightskyblue;
    border-bottom: double 0.25rem lightskyblue;
}

#contrib a {
    float: left;
}

footer button {
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 450%;
    transition: filter 1s;
    display: block;
    float: right;
    width: 7.5rem;
    height: 7.5rem;
}

footer button:hover {
    filter: brightness(1.25);
}