html {
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body,
h1 {
    padding: 0;
    margin: 0;
}

fieldset button {
    background: transparent;
    border: none;
    outline: none;
    transition: all 1s;
}

@font-face {
    font-family: "Kristina";
    src: url("../../profile/css/fonts/Kristina-Bold.otf") format("opentype"),
        url("../../profile/css/fonts/Kristina-Fine.otf") format("opentype");
}

@font-face {
    font-family: "DiaPro";
    src: url("../../profile/css/fonts/DiaPro-Regular.eot") format("embedded-opentype"),
        url("../../profile/css/fonts/DiaPro-Regular.otf") format("opentype"),
        url("../../profile/css/fonts/DiaPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Kikai";
    src: url("../../profile/css/fonts/KikaiChokokuJIS-CnKn.otf") format("opentype"),
        url("../../profile/css/fonts/KikaiChokokuJIS-Md.otf") format("opentype"),
        url("../../profile/css/fonts/KikaiChokokuJIS-XCnKn.otf") format("opentype");
}

#title a,
article p u,
article section a {
    padding: 0.25rem;
    text-decoration: none;
}

article section a,
article section u {
    display: inline-block;
    margin: 0.25rem;
}

article p a {
    text-decoration: underline dotted;
}

#title a,
article p a,
article section a {
    transition: all 1s;
}

header h1,
header button {
    text-align: left;
}

article #title {
    text-align: center;
}

header h1 strong,
fieldset button {
    color: #ebd809;
}

header h1 small {
    color: #fff;
}

article section a {
    background: #fff;
    color: #111;
}

main,
main fieldset label {
    background: #111;
}

fieldset button:hover {
    color: #fff;
    cursor: pointer;
}

header h1,
header button {
    text-align: left;
}

article,
footer {
    padding: 1rem;
}

header h1,
article #title {
    font-size: 222%;
}

header h2,
fieldset button {
    font-size: 250%
}

header h1 strong,
header h2 strong {
    font-size: 333%;
}

header button,
article section u {
    font-size: 125%;
}

article p a,
article p b,
article p strong,
article section a {
    font-size: 111%;
}

article p u {
    font-size: 90%;
}

#title a {
    font-size: 50%;
}

header h1,
header h1 strong,
article #title {
    font-weight: 555;
}

header h1 strong {
    line-height: 100%;
}

article p {
    line-height: 200%;
}

header h2 {
    line-height: 250%;
}

header h2 strong {
    color: lemonchiffon;
}

header h2 strong::after {
    color: lightskyblue;
    font-size: 25%;
    padding: 0 1rem;
}

header h2 strong#month::after {
    content: "月";
}

header h2 strong#day::after {
    content: "日";
}

main,
article {
    display: grid;
    place-items: center;
}

header h1,
main fieldset {
    display: flex;
    justify-content: space-between;
}

main {
    background: #000;
    position: relative;
    width: 100%;
    overflow: hidden;
}

body.stop h1,
body.stop h2,
main fieldset input {
    display: none;
}

main canvas,
#player,
#vr {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

header,
#player,
#vr {
    border: none;
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    html {
        font-size: 20px;
    }

    main {
        height: 100vh;
        max-height: 100vh;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 2vw;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 2.5vw;
    }

    main {
        height: 100vh;
        max-height: -webkit-fill-available;
    }
}

header {
    position: absolute;
    padding: 1rem;
    z-index: 1;
}

header,
main {
    top: 0;
    left: 0;
    right: 0;
}

header button {
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 2.5rem;
    color: #000;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0;
    outline: none;
}

main fieldset {
    flex-direction: row;
    border: none;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow: auto;
    width: 100%;
    place-self: end center;
    position: relative;
    z-index: 10;
}

main fieldset label {
    border: solid 0.2rem transparent;
    border-radius: 0.5rem;
    text-align: center;
    height: 17.5vw;
    max-height: 7.5rem;
    transition: 0.5s;
}

main fieldset label:hover,
main fieldset input:checked+label {
    filter: brightness(1.5);
}

main fieldset input:checked+label {
    border: solid 0.2rem #fff;
}

main fieldset img,
main fieldset video {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}

article #title,
article p {
    padding: 1rem;
}

article p {
    border-radius: 1rem;
    font-size: 125%;
}

article section {
    margin-top: 1.25rem;
    width: 100%;
}