header h2,
article p {
    font-family: "Kristina", 'Kikai', 'Zen Maru Gothic', cursive;
}

.relax,
header h1,
header button,
article #title,
article p a,
article section,
#randomdraggable button {
    font-family: "DiaPro", sans-serif;
}

article p a,
#title a:hover,
article p a:hover {
    color: #111;
}

#title a,
article p u,
article section a:hover {
    color: #ebd809;
    background-color: #111;
}

article,
#title a:hover,
article p a:hover,
footer {
    background-color: #ebd809;
}

article p {
    background: #fff;
    max-width: 1000px;
}