header h2,
article #title,
article p,
article section {
    font-family: "Kristina", 'Kikai', 'Zen Maru Gothic', cursive;
}

article p {
    font-family: 'Kikai', 'Zen Maru Gothic', sans-serif;
}

.relax,
header h1,
header button,
article p a,
#randomdraggable button {
    font-family: "DiaPro", sans-serif;
}

article p {
    background: lemonchiffon;
    color: lightskyblue;
}

article p a {
    color: lightskyblue;
}

hr {
    border: none;
    border-bottom: dotted lightblue 0.25rem;
}

#title,
#title a:hover,
article p u,
article p a:hover,
article section u {
    color: lemonchiffon;
}

#title a,
article section a:hover {
    color: lightskyblue;
    background-color: lemonchiffon;
}

article,
footer,
#title a:hover,
article p u,
article p a:hover {
    background-color: lightskyblue;
}