main {
    display: flex;
}

main h2 {
    transform: scale(1, 1.5);
    transform-origin: top center;
    line-height: 125%;
}

main h3 {
    transform: skew(0deg, -2.5deg);
}

main section:not(#index) {
    position: relative;
    padding: 0.5rem;
}

section#mapbox #map {
    border-radius: 0.5rem;
}

#submit {
    padding-top: 0.25rem;
}

details div {
    margin: 0.25rem;
}

footer button {
    color: lightskyblue;
    font-family: "Kristina", "KikaiChokoku", 'Arial Narrow', sans-serif;
    font-weight: 900;
    font-size: 150%;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
}

details summary {
    font-size: 125%;
}

details summary b {
    font-size: 111%;
    display: inline-block;
    margin: 0.05rem 0.5rem;
}

details#index[open] {
    padding-bottom: 0.25rem;
}

#search div {
    max-width: 350px;
}

@media (orientation: portrait) {
    main {
        flex-flow: column;
    }

    main section#mapbox {
        height: 123vw;
        max-height: calc(100vh - 1rem);
    }
}

@media (orientation: landscape) {
    main {
        flex-flow: row;
        height: calc(100dvh - 3rem);
    }

    main section {
        width: 50%;
        height: 100%;
        overflow: auto;
    }
}