@font-face {
    font-family: "Kristina";
    src: url("../profile/css/fonts/Kristina-Bold.otf") format("opentype"),
        url("../profile/css/fonts/Kristina-Fine.otf") format("opentype");
}

@font-face {
    font-family: "KikaiChokoku";
    src: url("../profile/css/fonts/KikaiChokokuJIS-CnKn.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-Md.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-XCnKn.otf") format("opentype");
}

html {
    height: -webkit-fill-available;
}

header {
    font-family: "Zen Maru Gothic", sans-serif;
}

#cover,
#readme {
    font-family: "Kristina", "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}

* {
    box-sizing: border-box;
}

#cover h1 u,
#readme section,
#readme nav ol li:hover {
    background: #fff;
}

#cover {
    background: lemonchiffon;
}

#readme {
    background: #fff9;
}

video::cue {
    background: transparent;
}

header input[type="button"] {
    color: #fff;
}

#cover h1 strong {
    color: lightskyblue;
}

#cover h2,
#readme nav ol::before,
#readme nav ol li::marker {
    color: lemonchiffon;
}

header input[type="button"],
#readme nav ol li {
    cursor: pointer;
    transition: all 0.5s;
}

input[type="button"],
button[type="button"] {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
}

#cover h1 {
    font-size: 321%;
}

header input[type="button"],
#readme nav ol {
    font-size: 200%;
}

#cover h1 strong,
#cover h2 {
    font-size: 150%;
}

#cover h2 i {
    font-size: 111%;
    font-style: normal;
}

#cover h1 u,
#cover h1 small,
#readme nav ol li::marker {
    font-size: 75%;
}

#cover h1 {
    text-align: center;
    line-height: 150%;
    width: calc(100% - 1rem);
}

#cover h2 {
    writing-mode: vertical-lr;
}

#cover h1 u,
#cover h1 strong {
    display: inline-block;
}

#cover h1 u,
#readme nav ol li,
#readme section {
    border-radius: 0.25rem;
}

#cover h1 u {
    color: #000;
    padding: 0 1rem;
    text-decoration: none;
}

#cover h1 strong {
    transform: scale(1, 1.75);
}

#cover h1 strong {
    text-shadow:
        0.1rem -0.1rem 0 lemonchiffon,
        -0.1rem -0.1rem 0 lemonchiffon,
        -0.1rem 0.1rem 0 lemonchiffon,
        0.1rem 0.1rem 0 lemonchiffon;
}

#cover h2 {
    text-shadow:
        0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
}

header input[type="button"] {
    text-shadow: 0.1rem 0.1rem 0 #000;
}

body,
#cover h1,
#cover h2,
#readme nav ol {
    margin: 0;
}

#cover h1 u {
    margin: 0;
}

#cover h1 strong {
    margin: 7.5rem 0 0;
}

header,
#readme,
#readme nav ol li,
#readme nav ol::before,
#readme section,
#readme footer {
    padding: 0.5rem;
}

#cover h2 {
    padding: 1rem 0.5rem;
}

#readme nav ol {
    padding: 3.21rem 0.5rem 0.5rem;
}

#readme {
    position: relative;
}

#cover h1,
#cover h2,
#video {
    position: absolute;
}

header {
    position: fixed;
}

#cover {
    position: sticky;
}

header,
#cover {
    top: 0;
    left: 0;
}

header {
    z-index: 100;
}

#cover h1,
#video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover h2 {
    bottom: 0;
    left: 0;
    max-height: 95%;
}

#cover h1,
#cover h2 {
    z-index: 1;
}

#cover,
#video,
#readme,
#readme footer {
    width: 100%;
}

#cover {
    height: 100dvh;
    max-height: -webkit-fill-available;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#readme {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    place-items: start;
    min-height: 100dvh;
}

#readme footer {
    place-self: end;
}

#readme nav ol::before {
    content: "Chapter";
    display: block;
    text-decoration: underline wavy skyblue;
}

@media screen and (max-width: 1000px) {
    #cover {
        font-size: 1.5vw;
    }
}

@media (orientation: portrait) {
    #cover {
        font-size: 2.5vw;
    }
}

#readme nav ol {
    list-style: inside decimal;
}