html {
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

body,
article,
#video {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0.5rem;
}

#readme section ol li {
    transition: all 0.5s;
    cursor: pointer;
}

#cover,
#video {
    pointer-events: none;
    user-select: none;
}

@font-face {
    font-family: "Kristina";
    src: url("../profile/css/fonts/Kristina-Bold.otf") format("opentype"),
        url("../profile/css/fonts/Kristina-Fine.otf") format("opentype");
}

@font-face {
    font-family: "KikaiChokoku";
    src: url("../profile/css/fonts/KikaiChokokuJIS-CnKn.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-Md.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-XCnKn.otf") format("opentype");
}

#cover,
#readme {
    font-family: "Kristina", "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}

nav,
#readme footer {
    display: flex;
    gap: 0.5rem;
    flex-flow: wrap;
    align-items: flex-start;
}

nav {
    justify-content: space-between;
}

#cover section,
#readme {
    display: grid;
    place-items: center;
}

article,
nav,
#readme footer,
#readme footer u {
    width: 100%;
}

#cover h1,
#cover section {
    width: 90%;
}

body,
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    z-index: 5;
}

article {
    position: relative;
    padding: 1rem;
    overflow: auto;
    height: 100%;
    z-index: 1;
}

#cover h1,
#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover h1 {
    margin: 0;
    padding: 2rem 1.25rem 1.25rem;
}

@media (orientation: landscape) {
    #video {
        width: auto;
        height: 100%;
    }

    #readme header,
    #readme section {
        max-width: 950px;
    }
}

@media (orientation: portrait) {
    #video {
        width: auto;
        height: 100%;
        max-width: 100vh;
        max-height: 100vw;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    #readme header,
    #readme section {
        max-width: 95%;
    }
}

#cover h1 {
    text-align: center;
    line-height: 150%;
}

#cover h1 {
    font-size: 222%;
}

#readme section ol {
    font-size: 200%;
}

nav input,
#cover h1 strong {
    font-size: 155%;
}

#readme footer a {
    font-size: 125%;
}

#cover h2,
#readme {
    font-size: 111%;
}

#cover h1 u,
#cover h1 small,
#readme section ol li::marker {
    font-size: 75%;
}

#cover h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    margin: 0.25rem 0;
    text-shadow:
        0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
    writing-mode: vertical-lr;
    max-height: 95%;
}

#cover h1 strong {
    color: lightskyblue;
    text-shadow:
        0.1rem -0.1rem 0 lemonchiffon,
        -0.1rem -0.1rem 0 lemonchiffon,
        -0.1rem 0.1rem 0 lemonchiffon,
        0.1rem 0.1rem 0 lemonchiffon;
}

#cover h2,
#readme section ol::before,
#readme section ol li::marker {
    color: lemonchiffon;
}

body {
    background: lemonchiffon;
}

#readme footer a {
    color: lemonchiffon;
    background: lightskyblue;
    padding: 0 0.25rem;
    text-decoration: none;
}

#cover h1 u,
#readme header,
#readme section ol li:hover {
    background: #fff;
    border-radius: 0.25rem;
}

#cover h1 strong {
    display: inline-block;
    margin: 2rem 0;
    transform: scale(0.75, 1.5);
}

#cover h1 u {
    color: #000;
    display: inline-block;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

#readme {
    background: #fff9;
    padding-top: 5rem;
}

#readme footer {
    padding-top: 2.5rem;
}

#readme header,
#readme section,
#readme section ol,
#readme section ol li,
#readme section ol::before {
    padding: 0.5rem;
    margin: 0.5rem;
}

#readme section ol {
    flex-flow: column;
    width: 100%;
    list-style: inside decimal;
}

#readme section ol::before {
    content: "Chapter";
    display: block;
    text-decoration: underline wavy skyblue;
}

article[hidden] {
    display: none;
}

nav input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline dashed #000;
    font-family: "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}

#menu {
    background-image: url(../profile/img/mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 5rem;
    height: 5rem;
}

#menu:hover {
    cursor: help;
}