@font-face {
    font-family: "Kristina";
    src: url("../profile/css/fonts/Kristina-Bold.otf") format("opentype"),
        url("../profile/css/fonts/Kristina-Fine.otf") format("opentype");
}

@font-face {
    font-family: "KikaiChokoku";
    src: url("../profile/css/fonts/KikaiChokokuJIS-CnKn.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-Md.otf") format("opentype"),
        url("../profile/css/fonts/KikaiChokokuJIS-XCnKn.otf") format("opentype");
}

html {
    font-family: "Kristina", "KikaiChokoku", "Zen Maru Gothic", sans-serif;
}